<p
    appColors
    [ngClass]="{ 'inst-style':person.instructor }"
>
    Name: {{ person.name }} <br>
    Added on: <span [textContent]="person.added_on"></span> <br>
    Instructor: <span *ngIf="person.instructor; then ins else notins"></span> <br>
    <ng-template #ins>&check;</ng-template>
    <ng-template #notins><b>X</b></ng-template>
    <button 
        class="btn btn-outline-danger"
        (click)="onDelete($event,person.name)"
    >DELETE</button> <br>
    <button class="btn btn-outline-primary">EDIT</button>
</p>
