p {
    border: 1px solid black;
    border-radius: 0.5em;
    width: 80vw;
    padding:1em;
    margin:0.5em;
    user-select:none;
}
button {
    margin-top:0.5em;
}
.inst-style {
    border: 2px solid orange;
    box-shadow: 5px 10px 10px grey;
}